.navbar {
  height: 60px;
  width: 100%;
  background-color: var(--off-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(237, 235, 235);
  padding: 0px 16px;
  position: sticky;
  top: 0;
}

.nav__logo {
  margin: 0;
  color: var(--blue-100);
}

.nav__profile__container {
  display: flex;
  gap: 8px;
  margin: 0;
  justify-content: end;
}

.nav__profile__container__left {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--neutral-bg);
  border-radius: 100%;
}

.nav__profile__container__right {
  display: none;
}
.nav__profile__container__right__top {
  font-size: 16px;
  font-weight: 600;
}
.nav__profile__container__right__bottom {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

.nav__profile__container__right__top,
.nav__profile__container__right__bottom {
  white-space: nowrap; /* Prevents the text from wrapping to the next line */
  overflow: hidden; /* Ensures that the content that overflows is not visible */
  text-overflow: ellipsis; /* Adds the ellipsis (...) */
  width: 100%;
}

/* Styles for tablets and larger screens */
@media (min-width: 768px) {
  .navbar {
    padding: 0px 32px;
  }

  .nav__profile__container__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 300px;
  }
}

/* Styles for desktops and larger screens */
@media (min-width: 1024px) {
  .navbar {
    padding: 0px 64px;
  }
}
